.box
  %br
  .right
    = button_tag 'Organization Log-In'
  %br
  %br
  %br
%h3 
  &nbsp&nbsp&nbspVolunteer & Donation DB
.box
  %br
  &nbsp&nbsp&nbsp
  = button_tag "Find a Need"
  &nbsp&nbsp&nbsp
  Search by Organization/Location
  %br
  %br
  &nbsp&nbsp&nbsp
  = button_tag "Fill a Need"
  &nbsp&nbsp&nbsp
  Search by Specific Donation Need
  %br
  %br
  &nbsp&nbsp&nbsp
  = button_tag "Give Some Time"
  &nbsp&nbsp&nbsp
  Find Volunteering Opportunities

  / - @users.each do |user|
  /   %p
  /     User: #{link_to user.name, user}
  %br
  %br

