= form_for @organization do |f|
  .control-groups
    = f.label :volunteer_coordinator_name, class: "control-label"
    .controls
      = f.text_field :volunteer_coordinator_name
  .control-groups
    = f.label :volunteer_coordinator_email
    .controls
      = f.text_field :volunteer_coordinator_email
  = f.submit "Submit", class: "btn btn-primary"