!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Volunteers r U"
      %meta{:content => content_for?(:description) ? yield(:description) : "Rails3 Mongoid Devise", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      = render 'layouts/navigation'
    .container{:role => "main"}
      = render 'layouts/messages'
      = content_for?(:content) ? yield( :content ) : yield
    %footer
